In [1]:

import re
from datetime import datetime
# import my_ds_babel
from io import StringIO
import pandas as pd

def my_m_and_a(csv_1, csv_2, csv_3):
    headers=["Gender","FirstName","LastName","Email","Age","City","Country","Created_at","Referral"]
    rows=[]
#     rows_2=[]
#     rows_3=[]
    IO_obj1=csv_1.getvalue()
    data1=IO_obj1.split('\n')
    for line_num, i in enumerate(data1):
        if line_num > 0:
            values_1=i.split(',')
            if len(values_1) > 1:
                if values_1[0] == '0' or values_1[0] == 'M':
                    gender ='Male'
                elif values_1[0] == '1' or values_1[0]== 'F':
                    gender ='Female'
                else:
                    gender=values_1[0]
                    
                pattern = r"\\(.+?)\\\""
                match_fname = re.search(pattern, values_1[1])
                match_lname = re.search(pattern, values_1[2])
                if match_fname:
                    fname=match_fname.group(1).title()
                else:
                    fname=values_1[1].title()
                
                if match_lname:
                    lname=match_lname.group(1).title()
                else:
                    lname=values_1[2].title()
                
                email=values_1[4].lower()
            
                age=values_1[5]
            
                city=values_1[6].title()
            
                today = datetime.now()
            
                t1=today.strftime("%Y-%m-%d")
            
                data=[gender,fname,lname,email,age,city,"USA",t1,"001" ]

                row_dict1 = dict(zip(headers, data))
                rows.append(row_dict1)
#     df1=pd.DataFrame(rows_1)
  
    IO_obj2=csv_2.getvalue()
    data2=IO_obj2.split('\n')
    for i in data2:
        values_2=i.split(';')
        if len(values_2) > 1:
            if values_2[2]=='0' or values_2[2] =='M':
                gender = 'Male'
                
            elif values_2[2] == '1' or values_2[2]=='F':
                gender = 'Female'
        
            else:
                gender=values_2[2]

            name=values_2[3].split(' ')
            pattern1 = r"[a-zA-Z]+"
            pattern2=r'\b\S+\b'
            match_fname = re.findall(pattern1, name[0])
            match_lname = re.findall(pattern2, name[1])
      
            if match_fname:
                fname=match_fname[0].title()
        
            else:
                fname=name[0].title()
        
            if match_lname:
                lname=match_lname[0].title()
            else:
                lname=name[1].title()
        
            if values_2[4] == "N/A":
                email=values_2[4]
        
            else:
                email=values_2[4].lower()
        
            if len(values_2[0])> 2:
            	age=values_2[0][:2]

            else:
            	age=values_2[0]
            city=values_2[1].title()
            today = datetime.now()
            t2=today.strftime("%Y-%m-%d")
            data=[gender,fname,lname,email,age,city, "USA",t2, "002"]
            row_dict2 = dict(zip(headers, data))
            rows.append(row_dict2)

#     df2 = pd.DataFrame(rows_2)
    
  
    IO_obj3=csv_3.getvalue()
    data3=IO_obj3.split('\n')
    for line_num, i in enumerate(data3):
        if line_num > 0:
            if len(i)>0:
                values_3=i.split('\t')
#                 print(values_3)
                if 'string_' in values_3[0]:
                    gender=values_3[0].split('string_')[1]
                    
                if 'boolean_' in values_3[0]:
                    gender=values_3[0].split('boolean_')[1]
                    
                if 'character_' in values_3[0]:
                    gender=values_3[0].split('character_')[1]
                    
                if gender =='M' or gender=='1':
                    gender='Male'
                if gender == 'F' or gender=='0':
                    gender='Female'
          
                name=values_3[1].split('string_')[1]
                name=name.split(' ')
                fname=name[0].title()
                pattern2=r'\b\S+\b'
                match_lname = re.findall(pattern2, name[1])
      
                if match_lname:
                  lname=match_lname[0].title()
        
                else:
                  lname=name.split(' ')[1].title()
        
                if values_3[2] =='N/A':
                  email=values_3[2]
        
                else:
                  email=values_3[2].split('string_')[1].lower()
        
                age=values_3[3].split('integer_')[1]
      
                if len(age)>2:
                  age=age[:2]
        
                city=values_3[4].split('string_')[1].title()
      
                today = datetime.now()
      
                t2=today.strftime("%Y-%m-%d")
      
                data=[gender,fname,lname,email,age,city,"USA", t2,"003"]
                row_dict3 = dict(zip(headers, data))
                rows.append(row_dict3)
      
    
  
    # return pd.concat([df1, df2, df3], axis=0)
    for ln, i in enumerate(rows):
    	i['FirstName'] = re.sub(r'^"|"$', '', i['FirstName'])
    	i['LastName'] = re.sub(r'^"|"$', '', i['LastName'])
    	i['Email'] = re.sub(r'^"|"$', '', i['Email'])
    	i['Age'] = re.sub(r'^"|"$', '', i['Age'])

    	if "_" in i['City']:
    		i['City'] = re.sub(r"_", " ", i['City'])

    	if "-" in i['City']:
    		i['City'] = re.sub(r"-", " ", i['City'])

    	# print(ln,i['Gender'],i['FirstName'],i['LastName'],i['Email'],i['Age'],i['City'],i['Referral'])

    return pd.DataFrame(rows)




with open('only_wood_customer_us_1.csv') as file1, open('only_wood_customer_us_2.csv') as file2, open('only_wood_customer_us_3.csv') as file3:
    csv_content_1=file1.read()
    csv_content_2=file2.read()
    csv_content_3=file3.read()

merged_csv=my_m_and_a(StringIO(csv_content_1),StringIO(csv_content_2),StringIO(csv_content_3))

In [3]:
merged_csv.head(20)

,Gender,FirstName,LastName,Email,Age,City,Country,Created_at,Referral
0,Female,Latesha,Barton,forgottoask@woodinc,85,Indianapolis,USA,2023-03-13,001
1,Female,Yolando,Jast,yolando_jast@yahoo.com,53,Columbus,USA,2023-03-13,001
2,Male,Stacy,Johnson,stacy.johnson@yahoo.com,64,Indianapolis,USA,2023-03-13,001
3,Male,Abdul,Mayert,mayert.abdul@hotmail.com,79,Phoenix,USA,2023-03-13,001
4,Male,Julius,Reinger,reinger_julius@hotmail.com,65,Jacksonville,USA,2023-03-13,001
5,Female,Liliana,Dubuque,liliana_dubuque@yahoo.com,24,Columbus,USA,2023-03-13,001
6,Male,Ollie,Cruickshank,cruickshank.ollie@gmail.com,89,Houston,USA,2023-03-13,001
7,Male,Louis,Schiller,louis_schiller@hotmail.com,72,Seattle,USA,2023-03-13,001
8,Female,Verlene,Jones,jones.verlene@hotmail.com,64,Seattle,USA,2023-03-13,001
9,Male,Santiago,Carter,santiago_carter@yahoo.com,34,Chicago,USA,2023-03-13,001
10,Female,Veola,Labadie,veola.labadie@yahoo.com,92,Columbus,USA,2023-03-13,001
11,Female,Stephaine,West,west.stephaine@hotmail.com,96,Austin,USA,2023-03-13,001
12,Male,Raul,Boehm,raul.boehm@hotmail.com,47,Jacksonville,USA,2023-03-13,001
13,Male,Harrison,Stamm,stamm.harrison@yahoo.com,87,San Jose,USA,2023-03-13,001
14,Female,Antonetta,Bogan,bogan_antonetta@yahoo.com,19,Los Angeles,USA,2023-03-13,001
15,Male,Efrain,Rowe,rowe_efrain@yahoo.com,73,San Jose,USA,2023-03-13,001
16,Male,Glen,Prosacco,glen_prosacco@gmail.com,93,Columbus,USA,2023-03-13,001
17,Female,Delora,Wiegand,wiegand.delora@gmail.com,55,Indianapolis,USA,2023-03-13,001
18,Female,Alaine,Upton,upton_alaine@gmail.com,54,Los Angeles,USA,2023-03-13,001
19,Female,Onie,Ryan,onie.ryan@gmail.com,89,Indianapolis,USA,2023-03-13,001

In [ ]:
Los-Angeles    Los Angeles